Repository lushen124/Universal-FE-Randomizer, pull requests merged in 2020-08, with the labels that each got.

#242 Adds a readable name and description for the Warp staff
  Universal FE Randomizer/src/random/gcnwii/fe9/randomizer/FE9Randomizer.java
Labels: FE9, enhancement

#252 [Issue #250] Fixed Ragnell and Regal Sword lock for Lord
  Universal FE Randomizer/src/fedata/gcnwii/fe9/FE9Class.java
  Universal FE Randomizer/src/random/gcnwii/fe9/loader/FE9ClassDataLoader.java
Labels: FE9

#261 GBAFE: Random movement does not use maximum shown in UI
  Universal FE Randomizer/src/random/gba/randomizer/ClassRandomizer.java
  Universal FE Randomizer/test/random/gba/randomizer/ClassRandomizerTest.java
  lib/apiguardian-api-1.1.0.jar
  lib/junit-jupiter-5.6.2.jar
  lib/junit-jupiter-api-5.6.2.jar
  lib/junit-jupiter-engine-5.6.2.jar
  lib/junit-jupiter-params-5.6.2.jar
  lib/junit-platform-commons-1.6.2.jar
  lib/junit-platform-engine-1.6.2.jar
  lib/mockito-all-2.0.2-beta.jar
  lib/opentest4j-1.2.0.jar
Labels: GBAFE

#262 GBAFE: Increase max movement to 15
  Universal FE Randomizer/src/ui/MOVCONAffinityView.java
Labels: GBAFE

#264 Added checksum override option
  Universal FE Randomizer/src/random/gba/randomizer/GBARandomizer.java
  Universal FE Randomizer/src/random/gcnwii/fe9/randomizer/FE9Randomizer.java
  Universal FE Randomizer/src/ui/MainView.java
  Universal FE Randomizer/src/ui/MiscellaneousView.java
  Universal FE Randomizer/src/ui/general/MessageModal.java
  Universal FE Randomizer/src/util/FreeSpaceManager.java
Labels: UI/UX, enhancement

#265 Fixed FE9 Boss base stats
  Universal FE Randomizer/src/fedata/gcnwii/fe9/FE9ChapterUnit.java
  Universal FE Randomizer/src/random/gcnwii/fe9/loader/FE9ChapterDataLoader.java
  Universal FE Randomizer/src/random/gcnwii/fe9/loader/FE9CharacterDataLoader.java
  Universal FE Randomizer/src/random/gcnwii/fe9/randomizer/FE9Randomizer.java
Labels: FE9, bug

#266 Fixed Gatrie's bugged growths (and probably Lethe/Rolf too)
  Universal FE Randomizer/src/util/DiffCompiler.java
Labels: FE9

#268 [Issue #236] Fixed Ike's starting weapon when using knives
  Universal FE Randomizer/src/fedata/gcnwii/fe9/scripting/CallSceneByNameInstruction.java
  Universal FE Randomizer/src/io/gcn/GCNCMBFileHandler.java
  Universal FE Randomizer/src/random/gcnwii/fe9/loader/FE9ChapterDataLoader.java
  Universal FE Randomizer/src/random/gcnwii/fe9/loader/FE9ClassDataLoader.java
  Universal FE Randomizer/src/random/gcnwii/fe9/loader/FE9ItemDataLoader.java
  Universal FE Randomizer/src/random/gcnwii/fe9/randomizer/FE9ClassRandomizer.java
  Universal FE Randomizer/src/random/gcnwii/fe9/randomizer/FE9Randomizer.java
Labels: FE9

#269 [Issue #251] Fixed Paragon scroll
  Universal FE Randomizer/src/fedata/gcnwii/fe9/FE9Data.java
  Universal FE Randomizer/src/fedata/gcnwii/fe9/FE9Skill.java
  Universal FE Randomizer/src/io/gcn/GCNMessageFileHandler.java
  Universal FE Randomizer/src/random/gcnwii/fe9/loader/FE9SkillDataLoader.java
  Universal FE Randomizer/src/random/gcnwii/fe9/randomizer/FE9Randomizer.java
Labels: FE9

#270 [Issue #237] Make sure bosses have appropriate attacking weapons
  Universal FE Randomizer/src/fedata/gcnwii/fe9/FE9Data.java
  Universal FE Randomizer/src/random/gcnwii/fe9/loader/FE9ItemDataLoader.java
  Universal FE Randomizer/src/random/gcnwii/fe9/randomizer/FE9ClassRandomizer.java
Labels: FE9

#271 [Issue #233] Updated script for Shinon and Gatrie's rejoining chapters
  Universal FE Randomizer/src/fedata/gcnwii/fe9/FE9ChapterArmy.java
  Universal FE Randomizer/src/io/gcn/GCNISOHandler.java
  Universal FE Randomizer/src/io/gcn/GCNISOHandlerRecompilationDelegate.java
  Universal FE Randomizer/src/random/gcnwii/fe9/loader/FE9ItemDataLoader.java
  Universal FE Randomizer/src/random/gcnwii/fe9/randomizer/FE9ClassRandomizer.java
  Universal FE Randomizer/src/random/gcnwii/fe9/randomizer/FE9Randomizer.java
Labels: FE9
